.biblio-entry {
  border-bottom: 1px dotted #E1E1E1;
}

.biblio-category-section > .biblio-entry:last-of-type {
  border-bottom: none;
}

.biblio-entry-text {
  margin: 1em 0.5em 0.5em;
}

a.biblio-openurl-text {
  /* undo oddness in biblio module styling */
  float: none;
  text-align: inherit;
  text-decoration: underline;
}

/* Biblio view */
div.biblio-links {
  text-align: right;
  font-size: 90%;
  margin: 1em 0.5em;
}

div.biblio-links ul {
  list-style-type: none;
  display: inline;
  padding-left: 2em;
}

div.biblio-links ul li {
  text-align: right;
  display: inline;
  margin: 0 0.25em;
}

/* Node view */
.node div.biblio-links {
  text-align: left;
  margin: 1em 0;
}

.node div.biblio-links ul {
  padding: 0;
  margin: 0 2em 0 0;
}
