body /* replace background & drop default line height */ {
  background: #898e98 url('images/bg-body.gif') repeat-x left top; */   
  line-height: 1.4;
}

/* @group reset the reset */
:focus {
  outline: #B3B7BE dotted thin;
}
/* @end */ 


/* @group Links */
/* let's do a full reset on the ETC style.  New code follows */
a { text-decoration: none; }

a:link, a:visited {
  border-bottom: 1px dotted #CA0F18;
  color: #CA0F18;
  font-weight: 600;
}

a:hover, a:active {
  border-bottom: 1px dotted #CCCCCC;
  color: #333333;
}

/* exceptions */
#header-inner a#logo,           /* header logo */
ul.links li.node_read_more a,   /* 'read more' links */
.more-link a {                  /* more-links in blocks */
  border-bottom: none; 
}

/* @group Layout */
#wrapper {
  margin-top: 5px;
  min-height: 400px;
  margin-bottom: 50px;
  /* shrink shadow radius */
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#000000');
  -ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#000000');
}

/* @group Header */
#header {
  /* set properties individually; allow transparent? */
  background: url('images/bg-header-top.jpg') no-repeat 0 0 !important;
  height: 87px !important;
  border-bottom: 1px solid #FFFFFF;
}
#header #logo img {
  margin: 5px 5px 5px 15px;
}

/* @group Header: secondary navigation */
ul.secondary-links {
  float: right;
  margin: 10px 10px 0 0;
}
ul.secondary-links li {
  display: inline;
  padding: 0 10px 0 16px;
  border-left: 1px solid #FFFFFF;
}
ul.secondary-links li.first {
  border-left: none;
}
ul.secondary-links a:link, 
ul.secondary-links a:visited {
  color: #FFFFFF;
  border-bottom: none;
}
ul.secondary-links a:hover,
ul.secondary-links a.active {
  border-bottom: 1px dotted #FFFFFF;
}
/* @end */

/* @group Footer */
#footer {
  border-bottom: 1px solid #CC0000;
  min-height: 28px;
  padding: 0px;
  margin: 0px;
  color: #FFFFFF;
}
#footer-inner {
  background: rgb(53,53,53);
  padding: 1em;
  text-align: left;
}

#footer a:link, #footer a:visited {
  color: #FFFFFF;
  border-bottom: none;
}
#footer a:hover, #footer a:active {
  border-bottom: 1px dotted #FFFFFF;
}
/* @end */

/* @end */

/* @group Headings */
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
h5, h6 {
  font-size: 1em;
}
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0;
  margin: 5px 0 10px 0;
}
/* @end */

/* @group Titles, from a variety of sources */
#main .title { 
  color: #CA0F18;
}
/* @end */

#navigation {
  background: #FFFFFF url('images/bg-header-bottom.jpg') no-repeat 0 0;
  height: 30px;
}

#navigation ul {
  line-height: 30px;
}

#navigation li {
  border-right: 1px solid #EE3A43;
}

/* First level links */
#navigation a,
#navigation a:visited {
  background: none;
  color: #FFFFFF;
  padding: 0 1.6em;
  text-shadow: none;
}
/* First level regular link hover */
#navigation a:hover,
#navigation a:visited:hover,
#navigation .active-trail a.active:hover,
#navigation .active-trail a:hover {
  background: transparent url('images/bg-nav-rollover-hover.png') repeat-x 0 100%;
  /* unb: color: #FFCF00;*/
}
/* First level regular link active */
#navigation .active-trail a,
#navigation .active-trail a.active {
  color: #FFFFFF;
}
/* @group More Links */
.more-link a {
  color: #888;
  text-decoration: none;
}
.more-link a:hover {
  color: #555;
  background: none repeat scroll 0 0 transparent;
}
.more-link span.icon {
  background: transparent url('images/sprites-sky.png') no-repeat 0 -1023px;
}
/* @end */

/* @group Item Lists */

div.item-list ul li {
  margin: 0.25em 0;
}

/* @end */

/* @group Teasers */
.node-teaser {
  margin-bottom: 1.5em;
  padding-bottom: 1em;
}
/* @end */

/* @group Meta */
/* @todo: keep this? or revert to link defaults? */
.node .meta a {
  font-weight: 400;
}

.node .meta a:link,
.node .meta a:visited,
.block h5 a:link,
.block h5 a:visited,
.block .views-field-title a:link,
.block .views-field-title a:visited {
  border-bottom: 1px dotted #CCCCCC;
  color: #333333;
}
.node .meta a:hover,
.node .meta a:active,
.block h5 a:hover,
.block h5 a:active,
.block .views-field-title a:hover,
.block .views-field-title a:active {
  border-bottom: 1px dotted #CA0F18;
  color: #CA0F18;
}

.node .meta p {
  margin: 5px 0 0 0;
}
.node-teaser .meta,
.with-photo .meta {
  background-image: none;
  border: none;
  padding: 0;
}

.without-photo .meta {
  padding: 0;
}
/* @end */

/* @group Terms */
.node .terms .label {
  display: block;
  float: left;
  font-size: 0.8em;
  font-style: italic;
  margin: 0.1em 1em 0 0;
}
.node .terms ul.links li.first {
  margin-left: 0;
}
.node .terms ul.links li:hover {
  text-shadow: none;
}

.node .terms ul.links li a:link,
.node .terms ul.links li a:visited {
  color: #333333;
}
.node .terms ul.links li:hover a,
.node .terms ul.links li:hover a:hover,
.node .terms ul.links li:hover a:active {
  color: #CA0F18;
  text-shadow: none;
}
/* @end */

/* @group Content */
.node .content /* tighten up whitespace */ {
  padding: 0.5em 0 0 0;
}
.node ul {
  margin: 0 0 15px 35px;
}
/* @end */

/* @group CCK Fields */
/* @group CCK fields: field_external_links */
.node .field-field-external-links .links {
  margin: 0;
}
.node .field-field-external-links .links li a {
  border: none;
}
/* @end */
/* @end 8/

/* @group Views */
.view-staff-directory table {
  width: 800px;
}
.view-staff-directory td.views-field-title {
  width: 25%;
}
.view-staff-directory td.views-field-field-telephone-value {
  width: 15%;
}
.view-staff-directory td.views-field-field-email-value {
  width: 20%;
}
/* @end */