/* @group Layout */
#wrapper {
  margin-top: 10px;
  min-height: 400px;
  margin-bottom: 50px;
}

#preheader {
  background: #fff;
  border: 1px solid #999;
  border-bottom: solid 2px #095f95;
  margin:0px;
  padding:0px;
  height: 28px;
}
/* @end */

/* @group Header */
#header {
  background: #3A4E6A url('images/header_top2.jpg') no-repeat top left !important;
  height: 71px !important;
}

#header #logo img {
  margin: 15px;
}
/* @end */

/* @group Footer */
#footer {
  background: rgb(53,53,53);
  border-bottom: solid 2px #095f95;
  min-height: 28px;
  padding: 0px;
  margin: 0px;
}

#footer-inner {
  background: rgb(53,53,53);
  padding: 1em;
  color: #FFF;
  font-weight: bold;
  text-align: left;
}

#footer-inner a,
#footer-inner a:visited {
  color: #FFF;
  font-weight: bold;
}

#footer-inner .block {
  float: right;
  margin: 0;
}

#footer-inner ul.menu {
  border: none;
}

#footer-inner ul.menu li {
  display: inline;
  float: right;
}

#footer-inner ul.menu li a {
  padding: 0 1em;
  background-color: transparent;
  text-shadow: none;
  border: none;
}
/* @end */

#prenavigation ul {
  line-height: 28px;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 998;
  opacity: 1.00; /* Fixes bug FF2 with Superfish menus */
  border: none;
  position: relative;
}

#prenavigation li {
  color:#095f95;
  font-weight:bold;
  float: right;
  margin-right:15px;
}

#navigation {
  background: #fff url('images/header_bottom.jpg') no-repeat bottom left;
  height: 28px;
}

#navigation ul {
  line-height: 28px;
  opacity: 1.000; /* Fixes bug FF2 with Superfish menus */
}

#navigation li {
  float: right;
  border-right: none;
}

/* @todo: check a.active vs a:active */

#navigation a,
#navigation a:visited,
#navigation a.active {
  /* @todo: check background */
  background: none;
  color: #fff;
  /* @todo: check shadow */
  text-shadow: none;
}

#navigation .active-trail a,
#navigation .active-trail a.active {
  color: #FFF;
}

/* @group Item Lists */

div.item-list ul li {
  margin: 0.25em 0;
}

/* @end */

/* @group Teasers */

.node-teaser {
  margin-bottom: 2em;
  padding-bottom: 1em;
}
/* @end */

/* @group Meta */

.node-teaser .meta,
.with-photo .meta {
  background-image: none;
  border: none;
  padding: 0;
}

.without-photo .meta {
  padding: 0;
}
/* @end */

/* @group Terms */
.node .terms {
  text-align: right;
}

/* @end */

/* @group Content */
.node ul {
  margin: 0 0 15px 35px;
}
/* @end */

/* @group Views */
.block-views .view-publications-list .views-field-field-cover-image-fid {
  float: right;
  margin: 0 0 0 10px;
}

.view-staff-directory td.views-field-title {
  width: 25%;
}

.view-staff-directory td.views-field-field-telephone-value {
  width: 15%;
}

.view-staff-directory td.views-field-field-email-value {
  width: 20%;
}
/* @end */